
body {
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#cabecera1{
    background-image: url(imagenes/paisaje.jpg);
    border-radius: 50px;
    border: indianred;
    border-width: 100px;
    border-radius: 100px;
}

nav{
   background-color: green;
   border-style:solid;
   border-radius: 105px;
   border-width: 5px;
   text-align: center;
   padding: 20px;
   display: block;
}
ul{
    min-width: 120px;
    display: block;
}
li{
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    display: block;
}

figure{

    width: 500px;
}
figcaption{
    text-align: center;
}

section{
    padding-left: 15px;
    border-style: groove;
    border-color: brown;
    border-width: 5px;
    text-align: center;
    margin-left: 0px;
    display: grid;

}

footer{
    padding: 15px;
    content: unset;
    border-style: groove;
    background-color: thistle;
    margin: 15px;
    float: none;
    display:grid;
    margin-top: 50px;
    clear: both;
}

aside{
    content: unset;
    border-style: groove;
    background-color: tomato ;
    float: left;
    height:1050px;
    margin-right: 100px;
    margin-bottom: 25px;
}
#seccionI{

    height: 100px;
    border: solid;
    width: 400px;
    padding: 15px;
    align-items: center;
    margin-bottom: 15px;
}

.menu > li{
    display: inline-block;
}

.menu > li >a{
    display: block;
    padding: 10px 20px;
    color: lightcoral;
    font-family: fantasy;
    text-decoration: none;
}

.menu  li a:hover{
    color: lightgreen;
    transition: all .3s;
}

.submenu{
    position: absolute;
    background-color: lightslategray;
    display: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: lightslategrey;
    font-family: fantasy;
    text-decoration: none;
    width: 100%;
}

.menu li:hover .submenu{
    display: block;
     
}